@import "tailwindcss";




/* Light theme variables */
:root {
  --background-color: #EEE6CA;
  --text-color: #080404;
}

/* Dark theme variables */
[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #EEE6CA;
}

/* Blue theme variables */
[data-theme="blue"] {
  --background-color: #1e3a8a;
  --text-color: #ffffff;
}

/* Apply variables to body for better theme switching */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.2s ease, color 0.2s ease;
}